{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-sm-12 text-center">
                <h1 class="display-2">Learn from peer WhiteBoard'ers!</h1>
                <p class="mt-3 lead">Follow topics that interests you. Learn through following the roadmaps and discuss with peer learners. Track your progress by solving quizes and more!</p>
                <div class="d-flex justify-content-center mt-5">
                    <a href="#" class="btn btn-light mr-2">Login</a>
                    <a href="#" class="btn btn-dark">Register</a>
                </div>
            </div>
        </div>
</div>
{%  endblock content %}